#player{
    float: left;
    margin-right: 720px;
    margin-bottom: 30px;
}
#player1{
    float: left;
    margin-right: 720px;
    margin-bottom: 30px;
}


#musicplayer{
    float: left;
    margin-right: 820px;
    margin-bottom: 30px;
}
#musicplayer1{
    float: left;
    margin-right: 820px;
    margin-bottom: 30px;
}
#musicplayer2{
    float: left;
    margin-right: 820px;
    margin-bottom: 30px;
}

#musicplayer3{
    float: left;
    margin-right: 820px;
    margin-bottom: 30px;
}
#musicplayer4{
    float: left;
    margin-right: 820px;
    margin-bottom: 30px;
}
#musicplayer5{
    float: left;
    margin-right: 820px;
    margin-bottom: 30px;
}